/* #navbar {
    display: none;
} */

.the-nav{
    display: none;
}

.the-nav.active {
    display: block;
}

#navbar .logo{
    
    float: none;
    text-align: center;

}


#navbar ul, #navbar ul li
{
    float:none;
}

#navbar ul li a{
    padding: 5px;
    border-bottom: #444 dotted 2px;
}

/* Showcase */

#showcase{
height: 100%;
}

#showcase .showcase-content{
    
    padding-top: 70px;
    padding-bottom: 30px;
}




/*Home Info */
#home-info .info-img
{
    display: none;
       
}

#home-info .info-content
{
float: none;
width: 100%;
}


/* Boxes */
.box
{
    float: none;
    width: 100%;
}


/* About Info */

#about-info .info-right, #about-info .info-left
{
    float: none;
    width: 100%;
}


#about-info .info-right
{
    margin-top: 30px;
}



/* Utility Classes */

.l-heading
{
    text-align: center;
}


/* Contact */
#contact-info .box{
    border-bottom: #444 dotted 2px;
}

@media screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px; /* Adjust the position as needed */
        right: 20px; /* Adjust the position as needed */
        z-index: 9999; /* Ensure the hamburger icon is on top */
    }
    
    .hamburger .line {
        width: 30px;
        height: 3px;
        margin: 6px 0;
        background-color: #fff; /* Adjust the color as needed */
    }
    


}
    
/* Media query for smaller screens, such as mobile devices */
@media screen and (max-width: 768px) {
    .portfolio-card .chip {
        display:flex;
        flex-direction: column; /* Change flex direction to stack elements vertically */
        align-items: center;
        margin-bottom: 30px; /* Add margin bottom as needed */

    }    
    .portfolio-card {
        display:flex;
        flex-direction: column; /* Change flex direction to stack elements vertically */
        align-items: center; /* Align items to the center */
    }
    .card-content {
        text-align: center;
    }
}

#navbar .written-logo {
    text-align: center;
}