/*
Reset
*/

.section-title {
    font-size: 36px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow for effect */
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Main STyle */

html, body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 40px;
    
}

.fullscreen-video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -10;
}

video {
    width: 100%;
    height: 100%; /* Set the video height to fill the viewport height */
    object-fit: cover;



}
.content {
    display: none; /* Hide content initially */

}


a{
    color: #333;
    text-decoration: none;
}



h1,h2,h3
{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}


/* Utility Classes */

.container
{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary
{
    color: #f7c08a;
    text-shadow: #000 0px 0px 7px;

}

.lead
{
    font-size: 18px;
}

.btn
{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}


.btn:hover{
    background: #f7c08a;
    color: #333;
}


.btn-light
{
    color: #333;
    background: #f4f4f4;
    
}

.bg-dark
{
    background: #333;
    color: #fff;
}

.bg-light
{
    background: #f4f4f4;
    color: #333;
}

.bg-primary
{
    color: #333;
    background: #f7c08a;
}

.clr
{
   clear: both; 
}

.l-heading
{
    font-size: 38px;
    line-height: 1.2;
}


/* Padding */
.py-1
{
    padding: 10px 0;
}

.py-2
{
    padding: 20px 0;
}

.py-3
{
    padding: 30px 0;
}


/* Navbar */
#navbar
{
    position: fixed;
    background: #333;
    color: #fff;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the background color as needed */
    z-index: 1000; /* Ensure it's above other content */
    
}

#navbar a{
    color: #fff;
}

#navbar .logo{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li {
    float:left;
}

#navbar ul li a 
{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current
{
    background: #444;
    color: #f7c08a;

}



/* Showcase */

#showcase
{
    /* background: url('../img/kenbg.jpg') no-repeat center center/cover;
    height: 600px; */
}

#showcase .showcase-content
{
    color: #2d2d2d;
    text-shadow: #000 0px 0px 4px;
    text-align: center;
    padding-top: 170px;

}

#showcase .showcase-content h1
{
    font-size: 60px;
    line-height:1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}


/* Home Info */

#home-info
{
    height:770px;
}

#home-info .info-img
{
    float:left;
    width: 50%;
    background: url('../img/headset.jpg') no-repeat center center/cover;
    min-height: 100%;
}

#home-info .info-content
{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p
{
    padding-bottom: 30px;
}



/* Features */
.box
{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i
{
    margin-bottom: 10px;
}




/* About Info */

#about-info .info-right
{
    float: right;
    width: 50%;
    min-height: 100%;
}


#about-info .info-right img
{
    display: block;
    margin: auto;
    border-radius: 50%;
}


#about-info .info-left
{
    float: left;
    width: 50%;
    min-height: 100%;
}



/* Testimonials */

#testimonials
{
    height: 100%;
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    padding-top: 100px;
    

}

#testimonials h2
{
    color: black;
    text-align: center;
    padding-bottom: 40px;

}

#testimonials .testimonial
{
    padding: 40px 20px;
    margin-bottom: 40px;
    
    border-radius: 5px;
    opacity: 0.9;

}

#testimonials .testimonial img
{
    width: 90px;

    float: left;
    margin-right: 20px;
    border-radius: 50%;

}


/* Contact Form */
#contact-form .form-group
{
    margin-bottom: 20px;
}

#contact-form label
{
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea
{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea
{
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus
{
    outline: none;
    border-color: #f7c08a;
}

/* Footer */

#main-footer
{
    text-align: center;
    background: #444;
    color: #fff;
    /* padding: 20px; */
}

/*importing styles from previous portfolio*
/* Portfolio Section */

#portfolio {
    padding: 50px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.portfolio-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    justify-content: space-between; /* Align items with space between */
}

.card-content {
    flex: 1; /* Let the content flexibly occupy available space */
    padding: 20px;
}

@media screen and (min-width: 769px) {

    .card-text {
        /* text-align: right;  */
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    /* .card-content {
        width: 50%; 
        white-space: pre-wrap;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    } */
    /* .card-content {
        padding: 20px;
        width: 50%; 
    } */
}



.portfolio-card iframe {
    width: 100%; /* Set width for iframe */
}



.chip {
    display: inline-block;
    padding: 4px 8px; /* Adjust padding */
    border-radius: 999px; /* Set border-radius to a large value for a circular shape */
    background-color: #000; /* Change background color to black */
    color: #fff; /* Change text color to white */
    font-size: 14px; /* Set font size */
    margin-bottom: 10px;
}


.title-md {
    font-size: 24px;
    margin-bottom: 10px;
}


.btn-primary {
    display: inline-block;
    background-color: #f7c08a;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #333;
    color: #fff;
}

.bold-name{
    display: flex;
    justify-content: flex-end;
}

#main-footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    
  }